body{
    background-color: #dddddd;
body {
  margin: 0;
  font-family: sans-serif;
}

h1{
    color: blueviolet;
* {
  box-sizing: border-box;
}

h2{
    color: green;
.services {
  background-color: #eeeeee;
  min-height: 100vh;
  width: 100%;
  float: left;
  padding: 100px 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.services .heading {
  margin-bottom: 60px;
  width: 100%;
  float: left;
}

.text1{
    font-style: italic;
.services .heading h1 {
  text-align: center;
  font-size: 40px;
  color: #000000;
  margin: 0;
}
.services .content {
  float: left;
  width: 100%;
}

.text2{
    color: red;
    font-style: italic;
.services .content .box {
  width: 33.33%;
  float: left;
  padding: 15px;
}

.text3{
    color: green;
.services .content .box .inner {
  padding: 30px;
  text-align: center;
  position: relative;
}
.services .content .box .inner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all 0.8s ease;
}

.text4{
    color: blueviolet;
.services .content .box .inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all 0.8s ease;
}

dt{
    color: darkorchid;
.services .content .box:hover .inner::after,
.services .content .box:hover .inner::before {
  border-color: red;
  width: 100%;
  height: 100%;
}
.services .content .box .inner .icon {
  font-size: 50px;
  color: #000;
  transition: color 0.8s ease;
}

hr{
    border: 2px solid red;
.services .content .box:hover .inner .icon {
  color: red;
}
.services .content .box .inner h3 {
  font-size: 20px;
  font-weight: normal;
  color: #000;
  margin: 20px 0;
}

li{
    font-weight: bold;
.services .content .box .inner p {
  font-size: 15px;
  color: #444444;
  line-height: 24px;
}
/*responsive*/

@media (max-width: 767px) {
  .services .content .box {
    width: 100%;
  }
} 